/* -- Header -- */
header {
    position: relative;
    .contact {
        position: absolute;
        top: 0;
        right: 0;
        height: $header-height;
        width: 28px;
        z-index: 999;
        a {
            display: block;
            margin-top: 20px;
            text-align: right;
            text-decoration: none;
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .fuzzy {
        @include grayscale();
        background-image: url('img/banner.png');
        background-position: left top;
        background-repeat: no-repeat;
        height: $header-height;
        padding: 0;
        position: relative;
    }
    /* -- Navigation bar -- */
    nav {
        border-bottom: 1px solid $tertiary-color;
        margin: 20px 0;
        position:relative;
        width: 100%;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                padding-left: 15px;
                position: relative;

                a {
                    cursor: pointer;
                    display: inline-block;
                    line-height: 2.6em;
                    font-family: $header-font;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                &:first-child {
                    padding-left: 0;
                }
            }
        }
        .light-switch {
            background-image: url('img/switches.png');
            background-position: left;
            background-repeat: no-repeat;
            cursor: pointer;
            height: 50px;
            position: absolute;
            right: 20px;
            top: 0;
            width: 30px;
        }
        .fuzz-finder {
            font-size: 0.8em;
            margin: 10px auto 0;
            width: auto;
        }
        .fuzz-finder-go {
            width: 100%;
        }
        .responsive-navbar {
            display: none;
            margin: 16px 0;
        }
    }
}
