/* -- Media queries -- */
@media(min-width: 1000px) {
    body {
        max-width: 700px;
    }
    iframe[src*="youtube"] {
        height: 420px !important;
    }
}
@media(min-width: 1200px) {
    body {
        max-width: 800px;
    }
}
@media(min-width: $bk600-over) {
    header {
        nav {
            ul {
                display: block !important;
            }
        }
    }
}
@media(max-width: $bk600-below) {
    body {
        margin: $body-margin-responsive;
        max-width: 600px;
    }
    header {
        .fuzzy {
            width: 230px;
            background-position: bottom right;
            margin: 0 auto;
        }
        nav {
            min-height: 45px;
            margin: 0 0 20px;
            h1 {
                display: block;
            }
            ul {
                display: none;
                li {
                    border-top: 1px solid $tertiary-color;
                    display: block;
                    padding: 0;
                    a {
                        display: block;
                    }
                }
            }
        }
    }
    .column-6 {
        display: block;
        width: 100%;
    }
}