/* -- Media queries -- */
@media(min-width: $breakpoint-2-edge) {
    header {
        nav {
            ul {
                display: block !important;
            }
        }
    }
}
@media(max-width: $breakpoint-2) {
    body {
        margin: $body-margin-responsive;
    }
    header {
        .fuzzy {
            width: 230px;
            background-position: bottom right;
            margin: 0 auto;
            // &:hover {
            //     background-position: bottom right;
            // }
        }
        nav {
            min-height: 45px;
            margin: 0 0 20px;
            h1 {
                display: block;
            }
            ul {
                display: none;
                li {
                    border-top: 1px solid $tertiary-color;
                    display: block;
                    padding: 0;
                    a {
                        display: block;
                    }
                }
            }
        }
    }
    .column-6 {
        display: block;
        width: 100%;
    }
}