#news {
    padding-left: 30px;
    li {
        margin: 10px 0;
        a {
            display: block;
            &:hover {
                color: $orange;
            }
        }
        .info {
            font-size: 0.8em;
            line-height: 1;
            margin: 0;
            position: relative;
            .points:after {
                content: " points";
            }
            .posted-ago,
            .num-comments {
                display: inline-block;
                margin-left: 20px;
            }
            .num-comments:after {
                content: " comments";
            }
        }
    }
}