@import '_font-awesome';
// Partials
@import '_vars';
@import '_mixins';
@import '_header';
@import '_main';
@import '_footer';
@import '_news';

/* -- Global -- */
html {
    padding: 0 15px;
}
body {
    color: $main-text-color;
    font-family: $body-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6em;
    margin: $body-margin;
    max-width: 600px;
}
h1 {
    font-family: $header-font;
    font-size: 2em;
    margin: 0 0 20px;
    line-height: 1em;    
}
img,
iframe {
    max-width: 96% !important;
}
blockquote {
    background: #f5f5f5;
    margin: 0;
    padding: 30px 40px;
}
b, strong {
    color: $black;
    font-weight: 600;
}
a {
    color: $main-text-color;
    text-decoration: underline;
    transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    &:hover {
        color: $secondary-color;
        text-decoration: none;
    }
}
p {
    margin: 20px 0;
}
input[type=text] {
    border: 1px solid $tertiary-color;
    color: $dark-grey;
    font-size: 1em;
    padding: 6px;
}
button {
    background: $primary-button-color;
    border: 1px solid $primary-button-color;
    border-radius: 2px;
    color: $button-text-color;
    cursor: pointer;
    font-weight: 700;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
    &:hover {
        background: $secondary-button-color;
    }
}
pre {
    code {
        font-size: 0.9em;
        line-height: 1.6em;
        border-radius: 4px;
        padding: 10px;
        overflow: auto;
    }
}
::selection {
    background: $secondary-color;
    color: $white;
}
::-moz-selection {
    background: $secondary-color;
    color: $white;
}



/* -- OOCSS -- */
.block {
    display: block;
}
.align-center {
    text-align: center;
}
.strong {
    color: $black;
    font-weight: 600;
}
.cf, .clearfix{ 
    *zoom: 1;
}
.cf:before, .cf:after, {
    content: ' ';
    display: table;
}
.cf:after, {
    clear: both;
}
.column-6 {
    float: left;
    margin-left: 2.564102564102564%;
    width: 48.717948717948715%;
    &:first-child {
        margin-left: 0;
    }
}
.sharebuttons {
    margin: 0;
    padding: 0;
    li {
        float: left;
        list-style: none;
        margin-left: 10px;
        &:first-child {
            margin-left: 0;
        }
        &.gplus {
            > div {
                width: 34px !important;
            }
        }
    }
}


/* -- Night Mode -- */
body.night-mode {
    background-color: $almost-black;
    a {
        color: $background-color;
        &:hover {
            color: $secondary-color;
        }
    }
    b, strong {
        color: #666;
    }
    blockquote {
        background: #333;
    }
    nav {
        .light-switch {
            background-position: right;
        }
        ul li .subnav li a {
            color: $main-text-color;
        }
    }
    div[role="main"] {
        .articles {
            color: $background-color;
        }
    }
    footer {
        text-shadow: none;
        color: $background-color;
    }
}

/* -- Responsive -- */
@media(min-width: $breakpoint-2-edge) {
    header {
        nav {
            ul {
                display: block !important;
            }
        }
    }
}
@media(max-width: $breakpoint-2) {
    body {
        margin: $body-margin-responsive;
    }
    header {
        .fuzzy {
            width: 230px;
            background-position: bottom right;
            margin: 0 auto;
            // &:hover {
            //     background-position: bottom right;
            // }
        }
        nav {
            min-height: 45px;
            margin: 0 0 20px;
            h1 {
                display: block;
            }
            ul {
                display: none;
                li {
                    border-top: 1px solid $tertiary-color;
                    display: block;
                    padding: 0;
                    a {
                        display: block;
                    }
                }
            }
        }
    }
    .column-6 {
        display: block;
        width: 100%;
    }
}