<ul class="sharebuttons cf">
    <li class="gplus">
        <g:plusone size="medium" annotation="none" href="http://fuzzingtheweb.com/{{ post.slug }}"></g:plusone>
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
    </li>
    <li class="twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://fuzzingtheweb.com/{{ post.slug }}" data-via="jgasteiz" data-count="none">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </li>
</ul>