<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 | Fuzzing the Web</title>
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
    <meta name="author" content="Javi Manzano">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/error.css">
</head>
<body>
    <div class="align-center">
        <h1>this is not the page<br>you are looking for</h1>
        <img src="/static/img/not-found.jpg">
        <div><a href="/">Go back to<br>Fuzzing the Web</a></div>
    </div>
</body>
</html>