<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>500 | Fuzzing the Web</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/x-icon">
    <meta name="author" content="Javi Manzano">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/error.css">
</head>
<body>
    <div class="align-center">
        <h1>congratulations!<br>you found a bug</h1>
        <img src="{{ STATIC_URL }}img/bug.jpg">
        <div><a href="/">Go back to<br>Fuzzing the Web</a></div>
    </div>
</body>
</html>