<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/x-icon">
		<meta name="author" content="Javi Manzano">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Fuzzopress styles -->
		<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
		<style type="text/css">
			body.night-mode a:hover {
				color: {{ colour }};
			}
			a:hover {
				color: {{ colour }};
			}
			::selection {
				background: {{ colour }};
			}
			::-moz-selection {
				background: {{ colour }};
			}
		</style>

		<!-- Code block styles -->
		<link rel="stylesheet" href="{{ STATIC_URL }}highlight/styles/monokai.css">
		<script src="{{ STATIC_URL }}highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>

		<!-- Google fonts -->
		<link href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>

	</head>
	<body class="{{ request.session.layout }}">
		<header>
			<div class="fuzzy"></div>
			<nav>
				<h1 id="menu_opener"></h1>
				<ul id="menu">
					<li><a href="/">Home</a></li>
					{% for item in navItems %}
					<li>
						<a {% if item.url %}href="{{ item.url }}"{% endif %}>
							{{ item.name }}
						</a>
					</li>
					{% endfor %}
					<li class="parent"><a href="/archive/">Archive</a></li>
					
					{% if user.is_superuser %}
					<li>
						<a target="_blank" href="/admin/post/add/">
							<i class="icon-pencil icon-large"></i>
						</a>
					</li>
					{% endif %}
				</ul>
				<i id="light_switch" class="light-switch" data-href="/_ajax/night-mode/"></i>
			</nav>
		</header>
		
		<div role="main">
			<div class="articles">
				{% block content %}{% endblock %}
			</div>
		</div>

		<footer>
			This a simple blog app developed in Django by Javi Manzano. <a target="_blank" href="https://github.com/jgasteiz/fuzzopress">View on github</a>.
		</footer>

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
		{% block extra_js %}{% endblock extra_js %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
		{% if settings.analytics.show %}
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '{{ settings.analytics.code }}']);
			_gaq.push(['_trackPageview']);
			(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		{% endif %}
		<script type="text/javascript">
			/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'fuzzingtheweb';

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function () {
				var s = document.createElement('script'); 
				s.async = true;
				s.type = 'text/javascript';
				s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
				(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
			}());
		</script>
	</body>
</html>