{% extends "base.html" %}

{% block title %}Fuzzing the Web{% endblock %}

{% load markup %}

{% block content %}
	{% for post in posts %}
	<article class="post">
		<header class="post__header">
			{% if not post.page %}
			<div class="post__header__meta">
				<time datetime="{{ post.published|date }}">{{ post.published|date }}</time>
				<div class="post__header__meta__comments">
					<a class="post__header__meta__comments__counter" href="http://fuzzingtheweb.com/{{ post.slug }}/#disqus_thread">0</a> comments
				</div>
			</div>
			{% endif %}
			<h1><a class="post__header__heading" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h1>
		</header>
		{% ifequal forloop.counter 1 %}
		<div class="post__body">
			{{ post.body|markdown }}
		</div>
		{% if user.is_superuser %}
		<a target="_blank" class="post__edit-button" href="/admin/post/{{ post.pk }}/edit/">
			<i class="icon-edit"></i>
		</a>
		{% endif %}
		<footer class="post__footer">
			{% include "partials/sharebuttons.html" %}
		</footer>
		{% endifequal %}
	</article>
	{% empty %}
	<h2>Nothing to show</h2>
	{% endfor %}
	{% if is_paginated %}
	<section class="pagination">
		{% if page_obj.has_previous %}
		<a href="?page={{ page_obj.previous_page_number }}">previous</a>
		{% endif %}
		page {{ page_obj.number }} of {{ paginator.num_pages }}
		{% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}">next</a>
		{% endif %}
	</section>
	{% endif %}
{% endblock %}