/* -- Main container -- */
section[role="main"] {
    .articles {
        margin-bottom: 80px;
        width: 100%;

        article {
            border-bottom: 1px solid $tertiary-color;
            margin-bottom: 40px;
            padding-bottom: 40px;
            position: relative;

            header {
                position: relative;
                margin-bottom: 20px;

                h1 {
                    margin: 0;
                    padding-right: 60px;
                    a {
                        font-weight: 700;
                        text-decoration: none;
                    }
                }
                .date {
                    color: $dark-grey;
                    display: block;
                    font-family: $rokkitt;
                    text-transform: uppercase;
                }
                .comments {
                    background-image: url("sprites/comments-bubble.png");
                    background-repeat: no-repeat;
                    color: $dark-grey;
                    display: inline-block;
                    font-family: $rokkitt;
                    font-size: 0.8em;
                    padding-bottom: 8px;
                    padding-top: 3px;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    text-decoration: none;
                    top: 0;
                    width: 54px;
                }
            }
            .edit-post {
                bottom: 0;
                position: absolute;
                right: 0;
                text-decoration: none;
            }
            img {
                padding: 6px;
                background: $background-color;
                box-shadow: 0px 1px 2px $cool-shadows-color;
            }
        }
        .go-back {
            margin: 20px 0;
            a {
                font-family: $rokkitt;
                text-decoration: none;
            }
        }
        .not-found {
            font-family: $not-found;
            line-height: 1em;
            font-size: 2.6em;
            display: block;
        }
        .archive {
            padding-left: 20px;

            li {
                ul {
                    li {
                        a {
                            text-decoration: none;
                            .date {
                                font-family: $rokkitt;
                                font-size: 0.9em;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}
