<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png" type="image/x-icon">
        <meta name="author" content="Javi Manzano">
        
        <!-- Fuzzopress styles -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/oocss.css"/>
        <!-- Themes -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/themes/bright/bright-theme.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/themes/user/user-theme.css"/>
        <!-- Night mode and responsive css -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/night-mode.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/responsive.css"/>
        <!-- Code block styles -->
        <link rel="stylesheet" href="{{ STATIC_URL }}highlight/styles/monokai.css">
        <script src="{{ STATIC_URL }}highlight/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body>

        <header class="main"></header>
        <nav>
            <select class="responsive-navbar" onchange="location.href=this.value">
                <option selected value="/">Navigate</option>
                <option value="/">Home</option>
                {% if settings.aboutfuzzopress.show %}
                    <option value="/about-fuzzopress/">About Fuzzopress</option>
                {% endif %}
                {% for item in navItems %}
                    <option value="{{ item.url }}">
                        {{ item.name }}
                    </option>
                {% endfor %}
                {% if user.is_superuser %}
                    <option value="/admin/blog/post/add/">
                        Post
                    </option>
                {% endif %}
            </select>
            <ul>
                <!-- You can delete this two items if you want -->
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                {% if settings.aboutfuzzopress.show %}
                    <li>
                        <a href="/about-fuzzopress/">
                            About Fuzzopress
                        </a>
                    </li>
                {% endif %}
            {% for item in navItems %}
                <li>
                    <a href="{{ item.url }}">
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
            {% if user.is_superuser %}
                <li>
                    <a target="_blank" class="add-post" href="/admin/blog/post/add/">
                        <i class="icon-pencil icon-large"></i>
                    </a>
                </li>
            {% endif %}
            </ul>
            <i class="light-switch"></i>
        </nav>
        <div id="main">

            <div id="content" {% if settings.sidebar.show %}class="sidebar"{% endif %}>

                <div class="articles">
                    {% block content %}{% endblock %}
                </div>

                {% if settings.sidebar.show %}
                <aside class="sidebar">
                    <div class="sidebar-content">

                        <!-- Search -->
                        {% if settings.searchbox.show %}
                            <section class="margin-bottom20">
                                <input type="text" class="fuzz-finder width60per" placeholder="Find a post">
                                <button class="fuzz-finder-go">Go</button>
                            </section>
                        {% endif %}

                        <!-- Archive month -->
                        {% if settings.archive.show and archives %}
                            <section class="margin-bottom20">
                                <span class="title">
                                    Archives
                                </span>
                                {% for year, month_list in archives %}
                                    <!-- year -->
                                    <span class="block strong">
                                        <a href="/{{ year }}/">{{ year }}</a>
                                    </span>
                                    <select class="block margin-bottom10" onchange="if(this.value){location.href=this.value;}">
                                        <option selected="selected">
                                            Choose month
                                        </option>
                                        <!-- Months -->
                                        {% for month, has_link in month_list %}
                                            {% if has_link %}
                                                <option value="/{{ month.year }}/{{ month.month }}/">
                                                    {{ month|date:"M" }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                {% endfor %}
                            </section>
                        {% endif %}

                        <!-- Tags -->
                        {% if settings.tags.show %}
                            <section class="margin-bottom20">
                                <span class="title">
                                    Tags
                                </span>
                                {% for tag in tags %}
                                    <a class="small" href="/tag/{{ tag.name }}/">{{ tag.name }}</a>
                                {% endfor %}
                            </section>
                        {% endif %}

                        <!-- RSS feed url -->
                        {% if settings.rss.show %}
                            <section class="margin-bottom20">
                                <span class="title">
                                    RSS Feed
                                </span>
                                <a target="_blank" class="no-decoration" href="/rssfeed/">
                                    <i class="icon-rss icon-large huge-font-size margin20"></i>
                                </a>
                            </section>
                        {% endif %}
                        
                        {% if settings.github.show %}
                            <!-- You can delete this widget if you want -->
                            <section class="margin-bottom20">
                                <span class="title">
                                    Follow me on github
                                </span>
                                <a target="_blank" class="no-decoration" href="https://github.com/{{ settings.github.username }}">
                                    <i class="icon-github icon-large huge-font-size margin20"></i>
                                </a>
                            </section>
                        {% endif %}

                        {% for item in widgets %}
                            <section class="margin-bottom20">
                                <span class="title">
                                    {{ item.name }}
                                </span>
                                {{ item.body|safe }}
                            </section>
                        {% endfor %}
                    </div>
                    <div class="toggle-sidebar">
                        <span>>></span>
                    </div>
                </aside>
                {% endif %}

                <div class="clear-both"></div>
            </div>
        </div>

        <footer class="main">
            This a simple blog app developed in Django by Javi Manzano. <a target="_blank" href="https://github.com/jgasteiz/fuzzopress">View on github</a>. Slightly inspired by <a target="_blank" href="http://octopress.org/">Octopress</a>.
        </footer>

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
        
        <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>

        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'fuzzingtheweb';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var s = document.createElement('script'); 
                s.async = true;
                s.type = 'text/javascript';
                s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
    </body>
</html>