<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png" type="image/x-icon">
        <meta name="author" content="Javi Manzano">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Fuzzopress styles -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font/font-awesome.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <style type="text/css">
            body.night-mode a:hover {
                color: {{ colour }};
            }
            a:hover {
                color: {{ colour }};
            }
            ::selection,
            ::-moz-selection {
                background: {{ colour }};
            }
        </style>

        <!-- Code block styles -->
        <link rel="stylesheet" href="{{ STATIC_URL }}highlight/styles/monokai.css">
        <script src="{{ STATIC_URL }}highlight/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <!-- Google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <header>
            <div class="fuzzy"></div>
            <nav>
                <select class="responsive-navbar" onchange="location.href=this.value">
                    <option selected value="/">Navigate</option>
                    <option value="/">Home</option>
                    {% for item in navItems %}
                    <option value="{{ item.url }}">{{ item.name }}</option>
                    {% endfor %}
                    {% if user.is_superuser %}
                    <option value="/admin/blog/post/add/">Post</option>
                    {% endif %}
                </select>
                <ul>
                    <li><a href="/">Home</a></li>
                    
                    {% for item in navItems %}
                    <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                    {% endfor %}
                    
                    {% if user.is_superuser %}
                    <li>
                        <a target="_blank" href="/admin/blog/post/add/">
                            <i class="icon-pencil icon-large"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <i class="light-switch"></i>
            </nav>
        </header>
        
        <section class="main-container">
            <div class="articles">
                {% block content %}{% endblock %}
            </div>
        </section>

        <section class="secondary-menu">
            <!-- Search -->
            {% if settings.searchbox.show %}
            <section class="search">
                <input type="text" class="fuzz-finder" placeholder="Find a post">
                <button class="fuzz-finder-go">Go</button>
            </section>
            {% endif %}

            <!-- Github -->
            {% if settings.github.show %}
            <section>
                <span class="title">Follow me on github</span>
                <a target="_blank" class="no-decoration" href="https://github.com/{{ settings.github.username }}">
                    <i class="icon big-icon icon-github"></i>
                </a>
            </section>
            {% endif %}

            <!-- Twitter -->
            {% if settings.twitter.show %}
            <section>
                <span class="title">Follow me on twitter</span>
                <a target="_blank" class="no-decoration" href="https://twitter.com/{{ settings.twitter.username }}">
                    <i class="icon big-icon icon-twitter"></i>
                </a>
            </section>
            {% endif %}

            <!-- Tags -->
            {% if settings.tags.show %}
            <section>
                <span class="title">Tags</span>
                {% for tag in tags %}
                    <a href="/tag/{{ tag.name }}/">{{ tag.name }}</a>
                {% endfor %}
            </section>
            {% endif %}

            {% if settings.analytics.show %}
            <script>
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ settings.analytics.code }}']);
                _gaq.push(['_trackPageview']);
                (function() {
                        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
            {% endif %}
        </section>

        <footer>
            This a simple blog app developed in Django by Javi Manzano. <a target="_blank" href="https://github.com/jgasteiz/fuzzopress">View on github</a>.
        </footer>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/main.min.js"></script>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'fuzzingtheweb';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var s = document.createElement('script'); 
                s.async = true;
                s.type = 'text/javascript';
                s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
                (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script>
    </body>
</html>