{% extends "blog/base.html" %}

{% block title %}
    {{ month|date:"F Y" }}
{% endblock %}

{% block content %}

    <h2>{{ month|date:"F Y" }}</h2>

    {% if post_list %}
        <ul>
            {% for post in post_list %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post }}</a>
                    <span class="date">
                        -  {{ post.published|date }}
                    </span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}