{% extends "blog/base.html" %}

{% block title %}
    {{ day|date:"j F Y" }} posts
{% endblock %}

{% block content %}

    <h3>{{ day|date:"j F Y" }} posts</h3>

    {% if post_list %}
        <ul>
            {% for post in post_list %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post }}</a> 
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    Dia - {% if previous_day %}Anterior {{ previous_day }}{% endif %} {% if next_day %}Siguiente {{ next_day }}{% endif %}
    <br>
    Mes - {% if previous_month %}Anterior {{ previous_month }}{% endif %} {% if next_month %}Siguiente {{ next_month }}{% endif %}
{% endblock %}