{% extends "blog/base.html" %}

{% block title %}About Fuzzopress{% endblock %}

{% block content %}
	
	<h1>About Fuzzopress</h1>

    <p>Fuzzopress is a simple blogging app developed with Django. Its name comes from my personal blog name, Fuzzing the Web.</p>

    <p>
        <img src="{{ STATIC_URL }}images/oldftw.jpg"
    </p>

    <p>You can take a look at the code on <a target="_blank" href="https://github.com/jgasteiz/fuzzopress">my github</a>, download it, fork it... It has one of those do-whatever-you-want-but-don't-blame-me-if-it-crashes licenses :P</p>





{% endblock %}

