{% extends "blog/base.html" %}

{% block title %}About Fuzzopress{% endblock %}

{% block content %}
    
    <h1>About Fuzzopress</h1>

    <p>Fuzzopress is a simple blogging app developed with Django. Its name comes from my personal blog name, Fuzzing the Web and from <a href="http://octopress.org/">Octopress</a>, another blogging app in which I've been inspired while doing the sidebar and other stuff.</p>

    <p>You can take a look at the code on <a target="_blank" href="https://github.com/jgasteiz/fuzzopress">my github</a>, download it, fork it... It has one of those <a target="_blank" href="https://github.com/jgasteiz/fuzzopress/blob/master/LICENSE">do-whatever-you-want-but-don't-blame-me-if-it-crashes</a> licenses :P</p>

    <p>The picture above the navigation bar has been made by a friend who draws quite well, Raquel K Agüesome (A.K.A. 'Kawe'), for an iOS game that I'm developing in my spare time: <a target="_blank" href="http://www.youtube.com/watch?v=9B1opfa3jF4">Fuzzy's Big Adventure</a>.

{% endblock %}

