/* -- Sizes -- */
/* -- Colours -- */
/* -- Fonts -- */
body {
  padding-top: 60px; }

.messages {
  margin: 0; }
  .messages .messages__item {
    list-style: none; }

form {
  max-width: 100%; }
  form textarea,
  form input[type=text],
  form input[type=file] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 800px;
    max-width: 100%;
    resize: none; }
  form input[type=text] {
    height: 30px; }
  form input[type=checkbox] {
    margin: 0; }
  form label {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 10px; }
  form .helptext {
    color: #888888;
    display: block;
    margin-bottom: 20px; }
  form .buttonset {
    margin: 20px 0; }

table .buttons .btn {
  margin-left: 5px; }
table tr[data-live=False] > td {
  background-color: #fdd; }
table tr[data-live=False]:hover > td {
  background-color: #fcc; }

@media (max-width: 979px) {
  body {
    padding-top: 0; } }
