body {
    background: #252525;
    font-size: 16px;
    line-height: 1.8em;
    max-width: 1000px;
}
a {
    color: black;
}
a:hover {
    color: #263347;
    background: #E0F2F7;
}
button, a.btn {
    background: #F44;
    border: 1px solid #CE2B2B;
    color: white;
}
button:hover, a.btn:hover {
    background: #EE4B4B;
}
header.main {
    background-image: url('fuzzzy.png');
    background-color: #263347;
    background-position: center bottom;
    background-repeat: no-repeat;
}
nav {
    background-color: #2E2E2E;
    border-top: 1px solid #282828;
    border-bottom: 1px solid #111;
}
nav a {
    color: white;
}
nav a:hover {
    background: #444;
    color: white;
}
#main {
    background: #F3F5F8;
    border: 1px solid #E6E8EC;
}
#content {
    background: #FFF;
}
footer.main {
    background: -moz-linear-gradient(#EEEEEE, #DDDDDD, #CCCCCC) 
                repeat scroll 0 0 transparent;
    background: -o-linear-gradient(#EEEEEE, #DDDDDD, #CCCCCC) 
                repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(#EEEEEE, #DDDDDD, #CCCCCC) 
                repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(#EEEEEE, #DDDDDD, #CCCCCC) 
                repeat scroll 0 0 transparent;
    background: -ms-linear-gradient(#EEEEEE, #DDDDDD, #CCCCCC) 
                repeat scroll 0 0 transparent;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
    color: #444444;
    text-shadow: 0 1px #D9D9D9;
}


/*
    Night mode
*/
body.night-mode {
    background: black;
}
nav.night-mode {
    background: #222;
}
nav.night-mode .light-switch {
    background-position: right bottom;
}
aside.night-mode .toggle-sidebar span {
    background: #2E2E2E;
    border-color: #222;
    border-left-color: #2E2E2E;
}
aside.night-mode.close .toggle-sidebar span {
    border-left-color: #222;
}
.toggle-sidebar.night-mode.close {
    background: #222;
}
.toggle-sidebar.night-mode:hover {
    background: #333;
}
#main.night-mode {
    background: #2E2E2E;
}
#content.night-mode {
    background: #2E2E2E;
    color: #EEE;
}
#content.night-mode a {
    color: #EEE;
}
#content.night-mode a:hover {
    color: black;
}
#content.night-mode .articles {
    border-right: 1px solid #222;
}
footer.main.night-mode {
    background: #444;
    border-top: #222;
    text-shadow: none;
    color: #DDD;
}