body {
    background-color: #F5F5F5;
    font-size: 16px;
    line-height: 1.8em;
    max-width: 1000px;
    background-image: url('noise.png');
}
a {
    color: black;
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}
a:hover {
    color: #23A8C6;
}
nav a {
    font-family: "PT Sans","Helvetica Neue",Arial,sans-serif;
    text-transform: uppercase;
}
button {
    background: #F14E32;
    border: 1px solid #C11E02;
    color: #F5F5F5;
}
button:hover {
    background: #E13E22;
}
header.main {
    background-image: url('banner-bright.png');
    background-position: center top;
    background-repeat: no-repeat;
    height: 220px;
    margin: 20px 0;
    padding: 0;
    -webkit-transition: background-position 0.4s ease;
    -moz-transition: background-position 0.4s ease;
    -o-transition: background-position 0.4s ease;
    transition: background-position 0.4s ease;
}
header.main:hover {
    background-position: center bottom;
}
nav ul {
    padding: 0;
}
nav a.add-post {
    background: transparent;
}
nav a.add-post:hover {
    background: transparent;
}
.toggle-sidebar.close {
    background: #F5F5F5;
}
.toggle-sidebar.close:hover {
    background: #E5E5E5;
}
#main {
    background-color: #F5F5F5;
    border: 1px solid #E6E8EC;
}
footer.main {
    padding: 20px;
}
/*
    Night mode
*/
body.night-mode {
    background-color: #222;
}
body.night-mode a {
    color: #F5F5F5;
}
body.night-mode a:hover {
    color: #33B8D6;
}
nav.night-mode .light-switch {
    background-position: right bottom;
}
aside.night-mode .toggle-sidebar span {
    background: #2E2E2E;
    border-color: #222;
    border-left-color: #2E2E2E;
}
aside.night-mode.close .toggle-sidebar span {
    border-left-color: #222;
}
.toggle-sidebar.night-mode.close {
    background: #222;
}
.toggle-sidebar.night-mode:hover {
    background: #333;
}
#main.night-mode {
    background: #2E2E2E;
    border: 1px solid #222;
}
#content.night-mode {
    background: #2E2E2E;
    color: #F5F5F5;
}
#content.night-mode .articles {
    border-right: 1px solid #222;
}
footer.main.night-mode {
    text-shadow: none;
    color: #F5F5F5;
}