/* -- Colours -- */
/* -- Fonts -- */
@font-face {
  font-family: "404";
  src: url('font/Starjedi.ttf') format('truetype');
}
@font-face {
  font-family: "custom-impact";
  src: url('font/impact.ttf') format('truetype');
}
/* -- Global -- */
body {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  margin: 20px 0 40px 240px;
  max-width: 600px;
  padding: 0 33px;
}
body.night-mode {
  background-color: #222222;
}
body.night-mode a {
  color: #f5f5f5;
}
body.night-mode a:hover {
  color: #04b1d8;
}
h1 {
  font-family: 'Rokkitt', serif;
  font-size: 2em;
  margin: 0 0 20px;
  line-height: 1.2;
}
img,
iframe {
  max-width: 98% !important;
}
a {
  color: #333333;
  text-decoration: underline;
  transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  -webkit-transition: color 0.4s ease;
}
a:hover {
  color: #04b1d8;
  text-decoration: none;
}
p {
  margin: 0 0 20px;
}
input[type=text] {
  border: 1px solid #e6e8ec;
  color: #888888;
  font-size: 1em;
  padding: 6px;
}
button {
  background: #f14e32;
  border: 1px solid #f14e32;
  border-radius: 2px;
  color: #f5f5f5;
  cursor: pointer;
  font-weight: bold;
  padding: 7px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.4s ease;
  -o-transition: background 0.4s ease;
  -moz-transition: background 0.4s ease;
  -webkit-transition: background 0.4s ease;
}
button:hover {
  background: #c11e02;
}
pre code {
  font-size: 0.9em;
  line-height: 1.6em;
  border-radius: 4px;
  padding: 10px;
  overflow: auto;
}
::selection,
::-moz-selection {
  background: #04b1d8;
  color: #ffffff;
}
/* -- Header -- */
header {
  /* -- Navigation bar -- */

}
header .fuzzy {
  background-image: url('img/banner.png');
  background-position: left top;
  background-repeat: no-repeat;
  height: 220px;
  padding: 0;
}
header .fuzzy:hover {
  background-position: left bottom;
}
header nav {
  border-bottom: 1px solid #e6e8ec;
  margin: 20px 0;
  position: relative;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  padding-left: 20px;
}
header nav ul li a {
  display: inline-block;
  line-height: 2.6em;
  font-family: 'Rokkitt', serif;
  text-decoration: none;
  text-transform: uppercase;
}
header nav ul li:first-child {
  padding-left: 0;
}
header nav .light-switch {
  background-image: url('img/switches.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 0;
  width: 30px;
}
header nav .responsive-navbar {
  display: none;
  margin: 16px 0;
}
header nav.night-mode .light-switch {
  background-position: right bottom;
}
/* -- Main container -- */
.main-container .articles {
  width: 100%;
}
.main-container .articles article {
  position: relative;
  padding-top: 60px;
}
.main-container .articles article header {
  position: relative;
}
.main-container .articles article header h1 a {
  font-weight: bold;
  text-decoration: none;
}
.main-container .articles article header .date {
  color: #888888;
  font-family: 'Rokkitt', serif;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: -40px;
}
.main-container .articles article header .comments {
  position: absolute;
  right: 0;
  top: -40px;
}
.main-container .articles article header .comments a {
  background-image: url("img/comments-bubble.png");
  background-repeat: no-repeat;
  color: #888888;
  display: inline-block;
  font-family: 'Rokkitt', serif;
  font-size: 0.8em;
  padding-bottom: 8px;
  padding-top: 3px;
  text-align: center;
  text-decoration: none;
  width: 54px;
}
.main-container .articles article .edit-post {
  bottom: -30px;
  position: absolute;
  right: 0;
  text-decoration: none;
}
.main-container .articles article img {
  padding: 6px;
  background: #f5f5f5;
  box-shadow: 0px 1px 2px #e6e8ec;
}
.main-container .articles .go-back {
  margin: 0;
}
.main-container .articles .go-back a {
  text-decoration: none;
}
.main-container .articles .not-found {
  font-family: "404", Arial;
  line-height: 1;
  font-size: 2.6em;
  display: block;
}
.main-container .articles .months {
  padding-left: 20px;
}
.main-container.night-mode {
  color: #f5f5f5;
}
/* Secondary Menu */
.secondary-menu {
  border-right: 1px solid #e6e8ec;
  font-size: 0.8em;
  left: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 20px;
}
.secondary-menu a {
  display: block;
}
.secondary-menu section {
  margin-bottom: 20px;
}
.secondary-menu section span {
  display: block;
  font-size: 1.2em;
}
.secondary-menu section select {
  display: block;
  margin-bottom: 10px;
}
.secondary-menu section .title {
  font-family: 'Rokkitt', serif;
  font-weight: bold;
  text-transform: uppercase;
}
.secondary-menu section .big-icon {
  font-size: 6em;
  line-height: 1;
  text-decoration: none;
}
.secondary-menu.night-mode {
  color: #f5f5f5;
}
/* -- Footer -- */
footer {
  font-size: 0.9em;
}
footer.night-mode {
  text-shadow: none;
  color: #f5f5f5;
}
/* -- OOCSS -- */
.block {
  display: block;
}
.align-center {
  text-align: center;
}
.strong {
  font-weight: bold;
}
.line {
  border-bottom: 1px solid #e6e8ec;
  margin: 40px 0;
}
.cf {
  clear: both;
}
/* -- Responsive -- */
@media (max-width: 920px) {
  body {
    margin: 20px 0 40px 160px;
  }
  .secondary-menu {
    width: 160px;
    padding: 10px;
  }
  .secondary-menu input[type=text] {
    display: block;
    padding: 4px 2%;
    width: 95%;
  }
  .secondary-menu button {
    display: block;
    width: 100%;
  }
  .secondary-menu section .title {
    text-transform: none;
  }
}
@media (max-width: 820px) {
  body {
    margin: 20px auto 40px;
  }
  .secondary-menu {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 40px 0 60px;
  }
}
@media (max-width: 600px) {
  body {
    margin: 0 0 40px;
    padding: 0 20px;
  }
  header .fuzzy {
    display: none;
  }
  header nav {
    margin: 0;
  }
  header nav .responsive-navbar {
    display: inline-block;
  }
  header nav ul {
    display: none;
  }
}
