/* -- Colours -- */
@black: #000;
@almost-black: #222;
@dark-grey: #888;
@white: #FFF;
@cool-shadows-color: #888;
@primary-color: #333;
@secondary-color: #04B1D8;
@tertiary-color: #E6E8EC;
@main-text-color: #333;
@background-color: #F5F5F5;
@primary-button-color: #F14E32;
@secondary-button-color: #C11E02;
@button-text-color: #F5F5F5;

/* -- Fonts -- */
@font-face {
    font-family: "404";
    src: url('font/Starjedi.ttf') format('truetype');
}
@font-face {
    font-family: "custom-impact";
    src: url('font/impact.ttf') format('truetype');
}
@404-fonts: "404", Arial;
@sans: 'Source Sans Pro', sans-serif;
@rokkitt: 'Rokkitt', serif;


/* -- Global -- */
body {
    color: @primary-color;
    font-family: @sans;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.6em;
    margin: 20px auto 40px;
    max-width: 600px;
    padding: 0 33px;
    &.night-mode {
        background-color: @almost-black;
        a {
            color: @background-color;
            &:hover {
                color: @secondary-color;
            }
        }
    }
}
h1 {
    font-family: @rokkitt;
    font-size: 2em;
    margin: 0 0 20px;
    line-height: 1em;
}
img,
iframe {
    max-width: 98% !important;
}
a {
    color: @main-text-color;
    text-decoration: underline;
    transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -webkit-transition: color 0.4s ease;
    &:hover {
        color: @secondary-color;
        text-decoration: none;
    }
}
p {
    margin: 0 0 20px;
}
input[type=text] {
    border: 1px solid @tertiary-color;
    color: @dark-grey;
    font-size: 1em;
    padding: 6px;
}
button {
    background: @primary-button-color;
    border: 1px solid @primary-button-color;
    border-radius: 2px;
    color: @button-text-color;
    cursor: pointer;
    font-weight: 700;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    -webkit-transition: background 0.4s ease;
    &:hover {
        background: @secondary-button-color;
    }
}
pre {
    code {
        font-size: 0.9em;
        line-height: 1.6em;
        border-radius: 4px;
        padding: 10px;
        overflow: auto;
    }
}
::selection, ::-moz-selection {
    background: @secondary-color;
    color: @white;
}

/* -- Header -- */
header {
    .fuzzy {
        background-image: url('img/banner.png');
        background-position: left top;
        background-repeat: no-repeat;
        height: 220px;
        padding: 0;
        position: relative;

        .fuzzy-color {
            background-image: url('img/banner.png');
            background-position: right bottom;
            background-repeat: no-repeat;
            position: absolute;
            opacity: 0;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: opacity 0.6s ease;
            -o-transition: opacity 0.6s ease;
            -moz-transition: opacity 0.6s ease;
            -webkit-transition: opacity 0.6s ease;
            &:hover {
                opacity: 1;
            }
        }
    }
    /* -- Navigation bar -- */
    nav {
        border-bottom: 1px solid @tertiary-color;
        margin: 20px 0;
        position:relative;
        width: 100%;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                padding-left: 20px;
                position: relative;

                a {
                    cursor: pointer;
                    display: inline-block;
                    line-height: 2.6em;
                    font-family: @rokkitt;
                    text-decoration: none;
                    text-transform: uppercase;
                }
                .subnav {
                    display: none;
                    background-color: @white;
                    border: 1px solid @tertiary-color;
                    box-shadow: 0px 1px 2px @almost-black;
                    border-radius: 6px;
                    left: 0;
                    min-width: 136px;
                    padding: 10px 20px;
                    position: absolute;
                    top: 42px;
                    z-index: 90;

                    li {
                        display: block;
                        padding: 0;
                        a {
                            line-height: 1.2em;
                        }
                    }
                    .arrow {
                        background-image: url('img/arrow.png');
                        background-repeat: no-repeat;
                        display: inline-block;
                        height: 16px;
                        left: 15px;
                        position: absolute;
                        top: -12px;
                        width: 32px;
                    }
                }
                &.parent {
                    &:hover {
                        .subnav {
                            display: block;
                        }
                    }
                }
                &:first-child {
                    padding-left: 0;
                }
            }
        }
        .light-switch {
            background-image: url('img/switches.png');
            background-position: left;
            background-repeat: no-repeat;
            cursor: pointer;
            height: 50px;
            position: absolute;
            right: 20px;
            top: 0;
            width: 30px;
        }
        .responsive-navbar {
            display: none;
            margin: 16px 0;
        }
        &.night-mode {
            .light-switch {
                background-position: right;
            }
            ul li .subnav li a {
                color: @main-text-color;
            }
        }
    }
}

/* -- Main container -- */
.main {
    .articles {
        margin-bottom: 80px;
        width: 100%;

        article {
            border-bottom: 1px solid @tertiary-color;
            margin-bottom: 40px;
            padding-bottom: 40px;
            position: relative;

            header {
                position: relative;
                margin-bottom: 20px;

                h1 {
                    margin: 0;
                    padding-right: 60px;
                    a {
                        font-weight: 700;
                        text-decoration: none;
                    }
                }
                .date {
                    color: @dark-grey;
                    display: block;
                    font-family: @rokkitt;
                    text-transform: uppercase;
                }
                .comments {
                    background-image: url("img/comments-bubble.png");
                    background-repeat: no-repeat;
                    color: @dark-grey;
                    display: inline-block;
                    font-family: @rokkitt;
                    font-size: 0.8em;
                    padding-bottom: 8px;
                    padding-top: 3px;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    text-decoration: none;
                    top: 0;
                    width: 54px;
                }
            }
            .edit-post {
                bottom: 0;
                position: absolute;
                right: 0;
                text-decoration: none;
            }
            img {
                padding: 6px;
                background: @background-color;
                box-shadow: 0px 1px 2px @cool-shadows-color;
            }
        }
        .go-back {
            margin: 20px 0;
            a {
                font-family: @rokkitt;
                text-decoration: none;
            }
        }
        .not-found {
            font-family: @404-fonts;
            line-height: 1em;
            font-size: 2.6em;
            display: block;
        }
        .archive {
            padding-left: 20px;

            li {
                ul {
                    li {
                        a {
                            text-decoration: none;
                            .date {
                                font-family: @rokkitt;
                                font-size: 0.9em;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
        &.night-mode {
            color: @background-color;
        }
    }
}
/* -- Footer -- */
footer {
    font-size: 0.9em;
    margin: 40px 0;
    &.night-mode {
        text-shadow: none;
        color: @background-color;
    }
}

/* -- OOCSS -- */
.block {
    display: block;
}
.align-center {
    text-align: center;
}
.strong {
    font-weight: 700;
}
.cf, .clearfix{ 
    *zoom: 1;
}
.cf:before, .cf:after, {
    content: ' ';
    display: table;
}
.cf:after, {
    clear: both;
}

/* -- Responsive -- */
@media(max-width: 920px) {
    body {
        margin: 20px auto 40px;
    }
}
@media(max-width: 640px) {
    body {
        margin: 0 0 40px;
        padding: 0 20px;
    }
    header {
        .fuzzy {
            width: 250px;
            background-position: bottom right;
            margin: 0 auto;
            &:hover {
                background-position: bottom right;
            }
        }
        nav {
            margin: 0 0 20px;
            .responsive-navbar {
                display: inline-block;
            }
            ul {
                display: none;
            }
        }
    }
}