////////////////
// BASE RULES //
////////////////
::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background: #e0e0e0;
	border: solid 1px #ddd;
	border-radius: 4px;
}
::-webkit-scrollbar-track {
	background: white;
}
::selection {
	background: $secondary-color;
	color: $white;
}
::-moz-selection {
	background: $secondary-color;
	color: $white;
}
html {
	padding: 0 15px;
}
body {
	color: $main-text-color;
	font-family: $body-font;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6em;
	margin: $body-margin;
	max-width: 660px;
	@include respond-to(small) {
		font-size: 14px;
	}
}
h1 {
	font-family: $header-font;
	font-size: 2em;
	margin: 20px 0;
	line-height: 1em;
}
h2 {
	margin: 30px 0 15px;
}
img,
iframe {
	@include box-sizing();
	max-width: 100% !important;
}
iframe[src*="youtube"] {
	height: 420px !important;
	@include respond-to(palm) {
		height: 300px !important;
	}
}
blockquote {
	background: #f5f5f5;
	margin: 0;
	padding: 30px 40px;
}
b, strong {
	color: $black;
	font-weight: 600;
}
a {
	color: $main-text-color;
	text-decoration: underline;
	&:hover {
		color: $secondary-color;
		text-decoration: none;
	}
}
p {
	margin: 20px 0;
}
input[type=text] {
	border: 1px solid $tertiary-color;
	color: $dark-grey;
	font-size: 1em;
	padding: 6px;
}
button {
	background: $primary-button-color;
	border: 1px solid $primary-button-color;
	border-radius: 2px;
	color: $button-text-color;
	cursor: pointer;
	font-weight: 700;
	padding: 7px;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		background: $secondary-button-color;
	}
}
pre {
	code {
		font-size: 0.9em;
		line-height: 1.6em;
		border-radius: 4px;
		padding: 10px;
		overflow: auto;
	}
}

//////////////////
// LAYOUT RULES //
//////////////////
/* -- Header -- */
.header {
	background-color: $white;
	border-bottom: 1px solid $tertiary-color;
	margin-bottom: 20px;
	// position: absolute;
	// top: 0;
	// left: 0;
	// right: 0;
	// height: 80px;
	// z-index: 9;
}
.header__title {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	float: left;
	font-size: 42px;
	line-height: 80px;
	margin: 0;
	text-align: left;
	&:hover {
		color: $sunday;
	}
	@include respond-to(tablet) {
		float: none;
		text-align: center;
	}
	@include respond-to(palm) {
		font-size: 32px;
	}
	@include respond-to(small) {
		font-size: 24px;
	}
}
.header__light-switch {
	background-image: url('img/switches.png');
	background-position: left;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 50px;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 30px;
}

/* -- Main container -- */
.main-container {
	.main-container__articles {
		margin-bottom: 80px;
		width: 100%;
	}
	.main-container__go-back {
		margin: 20px 0;
		a {
			font-family: $header-font;
			text-decoration: none;
		}
	}
}
/* -- Footer -- */
.footer {
	font-size: 0.9em;
}
/* -- Night Mode -- */
.night-mode {
	background-color: $almost-black;
	a {
		color: $background-color;
		&:hover {
			color: $secondary-color;
		}
	}
	b, strong {
		color: #666;
	}
	blockquote {
		background: #333;
	}
	.nav__links {
		background: $almost-black;
	}
	.header {
		background-color: $almost-black;
	}
	.header__title {
		color: $white;
	}
	.header__light-switch {
		background-position: right;
	}
	.main-container {
		.main-container__articles {
			color: $background-color;
		}
	}
	.footer {
		text-shadow: none;
		color: $background-color;
	}
}
