/* -- Media queries -- */
@media(min-width: 900px) {
	.wrp,
	body {
		max-width: 700px;
	}
	iframe[src*="youtube"] {
		height: 420px !important;
	}
}
@media(min-width: $bk600-over) {
	.header__links {
		display: block !important;
	}
}
@media(max-width: $bk600-below) {
	.wrp {
		max-width: 600px;
	}
	body {
		margin: $body-margin-responsive;
		max-width: 600px;
	}
	.header__nav__links {
		display: none;
	}
	.header__nav__link {
		border-top: 1px solid $tertiary-color;
		display: block;
		padding: 0;
		a {
			display: block;
		}
	}
	.column-6 {
		display: block;
		width: 100%;
	}
}