.search {
	height: 40px;
	margin: 10px 0;
	> div {
		max-width: 100%;
		width: 100%;
	}
	.gsc-control-cse {
		border: none;
		padding: 0;
	}
	form.gsc-search-box {
		margin-bottom: 0;
	}
	.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
		margin-top: 0;
	}
	table.gsc-search-box {
		margin-bottom: 0;
	}
	table.gsc-search-box td {
		vertical-align: top;
	}
}