.sharebuttons {
	margin: 0;
	padding: 0;
	li {
		float: left;
		list-style: none;
		margin-left: 10px;
		&:first-child {
			margin-left: 0;
		}
		&.gplus {
			> div {
				width: 34px !important;
			}
		}
	}
}