@import 'helpers';

body {
    padding-top: 60px;
}

.messages {
	margin: 0;
	.messages__item {
		list-style: none;
	}
}

form {
    max-width: 100%;
    textarea,
    input[type=text],
    input[type=file] {
        @include box-sizing();
        display: block;
        width: 800px;
        max-width: 100%;

        resize: none;
    }
    input[type=text] {
        height: 30px;
    }
    input[type=checkbox] {
        margin: 0;
    }
    label {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .helptext {
        color: $dark-grey;
        display: block;
        margin-bottom: 20px;
        
    }
    .buttonset {
        margin: 20px 0;
    }
}

table {
    .buttons {
        .btn {
            margin-left: 5px;
        }
    }
    tr[data-live=False] > td {
        background-color: #fdd;
    }
    tr[data-live=False]:hover > td {
        background-color: #fcc;
    }
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}