<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}markitup/skins/simple/style.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}markitup/sets/markdown/style.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base-admin.css">

</head>
<body>

	<!-- Navigation menu -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="{% url "list_post" %}">Fuzzopress</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li {% ifequal section 'post' %}class="active"{% endifequal %}>
							<a href="{% url "list_post" %}">Posts</a>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<!-- Main container -->
	<div class="container">
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="messages__item alert alert-{{ message.tags }}"{% endif %}>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% block content %}{% endblock content %}
	</div>

	<script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.markitup.js"></script>
	<script src="{{ STATIC_URL }}js/admin.js"></script>
	<script src="{{ STATIC_URL }}js/markitup.set.js"></script>
</body>
</html>